.table1
{
    margin: 0% !important;
}

.select
{
    max-width: 10% !important;
    display: inline;
}

body{
    margin: 2%;
}

.select-div
{
    display: inline;
}

.signup-form
{
    align-content: center;
    border-style: solid;
    border-width: 2px;
    margin: 2% 30% !important;
    max-width: 40% !important;
    padding: 2%;
}

.manage-registration
{
    padding: 2%;
}
