<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7DsvzR-NK_zaXOmJ47NLMarcsXpVWFtA&callback=myMap"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="arpit.css">
    <script>
        $(function () {
            $("header").load("./Header");
            $("footer").load("./Footer");
        })
    </script>
    <title>FAQ</title>
</head>
<body>
<header></header>
<div class="mresponsive">
    <h3>Frequently Asked Questions</h3>

    <table class="table table1">
        <thead>
        <tr class="table-primary">
            <th colspan="3">How many candidates have we enrolled, assessed and certified across all the scheme since inception?</th>
        </tr>
        <tr class="table-primary">
            <th>Total no. of candidates enrolled</th>
            <th>Total no. of candidates assessed</th>
            <th>Total no. of candidates certified</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-primary">
            <td>5465647</td>
            <td>456657</td>
            <td>23435</td>
        </tr>
        </tbody>
    </table>
    <table class="table table1">
        <tbody>

        <tr class="table-primary">
            <th>How many candidates have we enrolled, assessed and certified in the scheme
                <div class="select-div">
                    <select id="inputState" class=" form-control select">
                        <option selected>PMKVY</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                    </select>
                </div>
            </th>
        </tr>

        <tr class="table-primary">
            <th>How many candidates have we
                <div class="select-div">
                    <select id="inputState1" class="form-control select">
                        <option selected>Enrolled</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                    </select>
                </div>
                across all schemes in all the months of the year
                <div class="select-div">
                    <select id="inputState2" class="form-control select">
                        <option selected>2014</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                    </select>
                </div>
            </th>
        </tr>

        <tr class="table-primary">
            <th>How many candidates have we
                <div class="select-div">
                    <select id="inputState3" class="form-control select">
                        <option selected>Enrolled</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                    </select>
                </div>
                across the scheme
                <div class="select-div">
                    <select id="inputState4" class="form-control select">
                        <option selected>PMKVY</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                    </select>
                </div>
                in all the months of the year
                <div class="select-div">
                    <select id="inputState5" class="form-control select">
                        <option selected>2014</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                    </select>
                </div>
            </th>
        </tr>
        <tr class="table-primary">
            <th>List the total number of batches running for all the training alon with the candidates enrolled in them for state
                <div class="select-div">
                    <select id="inputState6" class="form-control select">
                        <option selected>Delhi</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                        <option>Option 4</option>
                    </select>
                </div>

            </th>
        </tr>
        </tbody>
    </table>
</div>
<footer></footer>
</body>
</html>
