/* CSS Document */
.bg-table-color
{
background-color:#00A800 ;
}
.table-container
{
border-style:solid;
border-width:thin;
border-color:#000000;
overflow-x: auto;
overflow-y:auto;
margin:2vh;
}
body
{
overflow:auto;
}
.table-heading
{
	font-style:italic;
	color:#00A800;
}
.myResponsive{
	display: block;
}
.search-form>input
{
	width:60vw;
}

@media only screen and (max-width: 600px) {
    .myResponsive{
		display: none;
	}
	.myResponsiveToggle{
	    display: block;
	}

}

